@import '../../styling/index.scss';

.password-requirement{
    display: block;
    padding:2rem;
    border: 2px solid $clr-gray;
    width: fit-content;
    border-radius: $radius;
    background-color: $clr-background-1;
    .fullfiled{
        color: $clr-green;
        font-weight: 500;
        font-size:large
    }
    .not-fullfiled{
        color: $clr-red;
        font-weight: 500;
        font-size:large
    }
    h1{
        font-weight: 500;
    }
}