@import '../../styling/index.scss';

.password-page{
    width: 80%;
    padding: 2rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;

    .error-message{
        height: 1rem;
        font-size: small;
        font-weight: 500;
        color: $clr-red;
    }

    form{
        width:100%;
        display: flex;
        flex-direction: column;
        margin: 2rem;
        justify-content: center;
        align-items: center;
        label{
            font-size: larger;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        .holder{
            display: flex;
            width: auto;
            .btn-function{
                margin: 0;
                width: 5rem;
                min-height: 4.2rem;
                background-color: $clr-background-1;
                font-size: larger;
                font-weight: 600;
                letter-spacing: 0.1rem;
                color: $clr-gray;
                &:hover{
                    background-color: $clr-background-3;
                    color: $clr-text;
                }
            }
        }
        .icon{
            margin-bottom: 0;
            padding: 0;
            width: 4rem;
            height: 2rem;
        }
        input{
            flex-wrap: wrap;
            height: 2rem;
            width: 30rem;
            font-size: larger;
            font-weight: 600;
            padding: 1rem;
            border-radius: $radius;
        }
        .active{
            &:hover{
                background-color: $clr-btn-hover;
                color: $clr-text-hover;
            }
           }
        }
        .not-active{
            background-color: $clr-btn-inactive;
            &:hover{      
               background-color: $clr-btn-inactive;
        }
    }
}